#india{
  width:600px;
  height:750px;
  margin:0px 0 0 20vw;
}

#colorbar{
  width:500px;
  height:15px;
  margin:0 0 0 20vw;
  background:linear-gradient(to right,#ffe3bd,#ffd8a3,#ffc77a,#ffba5c,#ffaf42,#ffa933,#ffa121,#ff9300);
}

#numbers{
  width:500px;
  height:15px;
  margin:5px 0 25px 20vw;
  display:grid;
  font-size:0.8em;
  grid-template-columns: 1fr 1fr;
}

#message{
  width:750px;
  height:25px;
  padding-top:25px;
  margin:0px 0 45px 15vw;
  text-align:center;
}

#table{
  width:45vw;
  float:left;
  padding:20px 10px;
  margin:30px 30px 60px;
  box-shadow:0 0 10px gray;
}
#total{
  display: grid;
  column-gap:10px;
  grid-template-columns:repeat(4,1fr);
  grid-auto-rows:110px;
  line-height: 24px;
  display:none;
}
#total1{
  width:150px;
  display: grid;
  grid-gap:10px;
  grid-template-columns:150px;
  grid-auto-rows:100px;
  line-height: 24px;
  float:left;
  margin:150px 0 0 70vw;
}
.box{
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  /* background-color: rgba(255, 123, 0, 0.2);
  color:rgb(255, 123, 0); */
  border-radius:15px;
  padding-left:10px;
  padding-right:10px;
}

.box:hover{
  cursor: pointer;
}

#stategrid{
  margin-top:0px;
  display: grid;
  grid-gap:5px;
  grid-template-columns: repeat(5,1fr);
  grid-auto-rows: minmax(30px, max-content);
}
.state{
  display: flex;
  justify-content: left;
  align-items: center;
  background-color:rgba(228, 231, 231, 0.349);
  border-radius:5px;
  padding-left:5px;
  padding-right:5px;
}

#plots{
  width:45vw;
  float:right;
  margin:20px 30px 0 0;
}

.bk .bk-slider-title{
  margin-left:50px;
}

select{
  padding:8px;
  background-color: rgba(228, 231, 231, 0.349);
  border-radius: 5px;
  font-family: 'Arvo', serif;
  font-size:1em;
}

#drop{
  margin-top:65px;
  text-align: center;
}

path:hover{
  stroke:black;
  stroke-width: 0.7;
  z-index: 100;
}


@media (max-width:1270px)
{
  #table{
    float:none;
    width:680px;
    margin-left:auto;
    margin-right:auto;
  }
  #plots{
    float:none;
    width:600px;
    margin-left:auto;
    margin-right:auto;
  }
  #total1{
    margin-left:850px;
  }
  #india,#numbers,#colorbar,#message{
    margin-left:150px;
  }
}

@media (max-width:1100px){
  #total1{
    display: none;
  }
  #total{
    display:grid;
  }
  #stategrid{
    margin-top:20px;
  }
  #india,#numbers,#colorbar,#message{
    margin:0 auto;
  }
}

@media (max-width:760px)
{
  #table{
    float:none;
    margin-left:0;
    margin-right:0;
    width:99.5vw;
    padding-left:2px;
    padding-right:2px;
  }
  #total{
    grid-auto-rows:80px;
    column-gap:3px;
    margin:0 5px 0 3px;
  }
  .box{
    padding-left:2px;
    padding-right:2px;
  }
  #stategrid{
    grid-gap:3px;
  }
  #plots{
    width:99vw;
  }
  #message{
    width:600px;
    height:50px;
  }
}

@media (max-width:600px){
  #india{
    width:95vw;
    height:118.75vw;
  }
  #colorbar{
    width:80vw;
    height:10px;
  }
  #numbers{
    width:80vw;
  }
  #message{
    width:320px;
    height:50px;
  }
}