<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Page Icon -->
    <link rel="icon" href="{{ url_for('static',filename='images/virus.webp') }}">
    
    {% block css %}
    {% endblock css %}

    <link href="{{url_for('static',filename='css/layout.css')}}" rel='stylesheet'>
    <!-- Google font -->
    <link href="https://fonts.googleapis.com/css?family=Arvo&display=swap" rel="stylesheet">

    <!-- Google Icons -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">

    <!-- Bokeh CSS -->
    <link href="https://cdn.bokeh.org/bokeh/release/bokeh-widgets-1.4.0.min.css" rel="stylesheet" type="text/css">
    
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script  src="https://code.jquery.com/jquery-3.5.1.js"  integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc="  crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <script type="text/javascript" src="https://cdn.pydata.org/bokeh/release/bokeh-1.4.0.min.js"></script>
    <script src="https://cdn.bokeh.org/bokeh/release/bokeh-widgets-1.4.0.min.js"></script>
    <script type="text/javascript">
        Bokeh.set_log_level("info");
    </script>
    <script src="{{ url_for('static',filename='js/layout.js') }}"></script>
    {% block js %}
    {% endblock js%}

    {% if title %}
        <title>{{title}} | COVID19 - Stats</title>
    {% else %}
        <title>COVID19 - Stats</title>
    {% endif %}

  </head>
  <body>
    <div class="logo">
        <div style="padding-top:7px;display:inline-block">
          <a href="{{url_for('home')}}">
            <img class="virus" src="{{ url_for('static',filename='images/virus.webp')}}" >
          </a>
        </div>
        <div style="margin-top:5px;display:inline-block">
          <a href="{{url_for('home')}}">
            COVID19 &nbspStats
          </a>
        </div>
      </div>
  
      <div id="navbar">
          <a href="{{url_for('home')}}">Home</a>
          <a href="{{url_for('sird')}}">SIRD Model</a>
          <a href="{{url_for('stats')}}">Stats</a>
          <a href="{{url_for('home')}}">Sources</a>
          <a href="{{url_for('home')}}">About</a>
      </div>
    {% block content %}
    {% endblock content %}
  </body>
</html>